* {
    font-family: Assistant;
}



body {
    background-color: rgb(238, 238, 238);
    box-sizing: border-box;
    margin: 0;
    padding: 15px 10px;
    /*overscroll-behavior: contain;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.Welcom {
    margin: auto;
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 5px;
}

.logo {
    text-align: center;
    padding: 30px;
}

.Welcom .logo img {
    height: 200px;
    transition: all 0.3s;
}

.text {
    font-size: 25px;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    padding: 10px 0;
}

#WelcomCarNumber {
    outline: none;
    border: 3px solid black;
    background-color: #ffca11;
    color: black;
    font-size: x-large;
    width: 86%;
    padding: 7px 40px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    text-align: center;
    vertical-align: top;
    background-image: url('img/download.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-weight: 900;
    box-sizing: border-box;
}

.Bt {
    font-size: larger;
    width: 90%;
    max-width: 300px;
    padding: 8px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(254 250 220);
    border: 1px solid rgb(227 216 135);
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 10px;
}

    .Bt:hover {
        background-color: rgb(254 250 200);
    }


.cardTable {
    margin: auto;
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    background-color: white;
    padding: 0px 0px 5px;
    min-height: 500px;
    position: relative;
    display: none;
}


#ErrorMsg, #ErrorMsgLogin {
    color: indianred;
    margin: 10px;
    font-weight: 600;
    font-size: larger;
}

#WelcomWait {
    display: none;
    text-align: center;
    margin-top: 10px;
}

table {
    border: 3px solid rgb(227 216 135 / 21%);
    border-collapse: collapse;
    max-width: 500px;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    table-layout: fixed;
}

td,
th {
    border-bottom: 1px solid rgb(227 216 135 / 45%);
    margin: 1px 0;
    text-align: right;
    padding: 9px 10px 9px 0;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 18px;

}

th {
    text-align: center;
    background-color: var(--backgroundbutton);
    padding: 12px 0px 9px 0px;
}


tr:nth-child(even) {
    background-color: rgb(254 250 220 / 54%);
    text-align: center;
}


.key {
    font-weight: bold;
}

#resetInputNumber {
    position: absolute;
    width: 30px;
    right: 34px;
    cursor: pointer;
    opacity: 0.6;
    display: none;
}

#reternWelcom {
    width: 50px;
    border-radius: 10px;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.cardretern {
    background-color: rgba(255, 255, 255, 0.637);
    position: relative;
    width: 100%;
    max-width: 550px;
    margin: auto;
    direction: rtl;
}

.scooll {
    position: relative;
    width: 100%;
    max-width: 550px;
    margin: auto;
    direction: rtl;
    display: none;
}


.btadduser {
    font-size: larger;
    max-width: 300px;
    padding: 8px;
    width: 90%;
    height: 40px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(254 250 220);
    border: 1px solid rgb(227 216 135);
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

    .btadduser:hover {
        background-color: rgb(254 250 200);
    }


    .btadduser img {
        width: 30px;
        padding-left: 10px;
    }

.cardfixed {
    position: fixed;
    top: 0;
    right: 0;
    background: #949494bd;
    width: 100%;
    height: 100vh;
    text-align: center;
    padding: 15px 10px;
    box-sizing: border-box;
    display: none;
}

.cardlogin {
    border: 2px solid rgb(227 216 135);
    width: 100%;
    max-width: 450px;
    margin: -500px auto;
    border-radius: 5px;
    background: #fffef8;
    position: relative;
}

#inputTelLogin,
#inputPassLogin {
    width: 100%;
    padding: 10px;
    margin: 0px 0 8px;
    box-sizing: border-box;
    border: 1px solid #c9bd6a;
    outline: none;
    font-size: large;
    border-radius: 4px;
    text-align: center;
    direction: ltr;
}

#submitLogin {
    font-size: large;
    width: 90%;
    max-width: 350px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    text-align: center;
    background-color: rgb(254 250 220);
    border: 1px solid rgb(227 216 135);
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    margin: 10px;
}

    #submitLogin:active {
        background-color: whitesmoke;
    }

#cardfixedhide {
    width: 40px;
    position: absolute;
    top: 5px;
    cursor: pointer;
    right: 5px;
}

#resetInputtellogin, #resetInputpasslogin {
    position: absolute;
    width: 30px;
    right: 10px;
    cursor: pointer;
    opacity: 0.6;
    display: none;
}




.popup {
    background: #dcd391;
    width: 22px;
    height: 22px;
    display: flex;
    margin-right: 7px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
    position: relative;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: bold;
}

    .popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #f2edc9;
        color: #555;
        text-align: center;
        border-radius: 6px;
        padding: 6px 19px;
        position: absolute;
        z-index: 1;
        bottom: 27px;
        left: -88px;
        font-size: 16px;
    }

        .popup .popuptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }

.popupOpen .popuptext {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 0.5s;
}


@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}




body:hover, body:active {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-select: none;
    -webkit-touch-callout: none /*only to disable context menu on long press*/
}




@media only screen and (max-width:900px) {
}



::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(197 197 197);
    border-radius: 6px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: rgb(197 197 197);
    }


