body {
    background-color: rgb(238, 238, 238);
    font-family: Assistant;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 10px;
}

.Welcom {
    margin: auto;
    width: 100%;
    max-width: 550px;
    border-radius: 10px;
    background-color: white;
    padding-bottom: 20px;
}

.logo {
    text-align: center;
    padding: 30px;
}

.Welcom .logo img {
    height: 200px;
    transition: all 0.3s;
}

.text {
    font-size: 25px;
    font-weight: 600;
    font-size: x-large;
    text-align: center;
    padding: 10px 0;
}

#WelcomCarNumber {
    outline: none;
    border: 3px solid black;
    background-color: #ffca11;
    color: black;
    font-size: xx-large;
    width: 90%;
    padding: 8px 20px;
    border-radius: 5px;
    margin: 10px 0 0 0;
    text-align: center;
    vertical-align: top;
    background-image: url('img/download.png');
    background-position: left;
    background-repeat: no-repeat;
    background-size: auto 100%;
    font-weight: 900;
    box-sizing: border-box;
    padding-left: 45px;
}

.Bt {
    font-size: x-large;
    width: 90%;
    max-width: 350px;
    padding: 10px;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    background-color: rgb(254 250 220);
    border: 1px solid rgb(227 216 135);
    outline: none;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 10px;
}

.Bt:hover {
    background-color: rgb(254 250 200);
}


.cardTable {
    margin: auto;
    width: 95%;
    max-width: 550px;
    border-radius: 10px;
    background-color: white;
    padding: 0 0 5px;
    min-height: 500px;
    position: relative;
    display: none;
}

#ErrorMsg {
    color: indianred;
    padding: 10px;
    font-weight: 600;
    font-size: larger;
}

#WelcomWait{
    display: none;
    text-align: center;
    margin-top: 10px;
}

table {
    border: 3px solid rgb(227 216 135 / 21%);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 500px;
    width: 95%;
    margin: auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    table-layout: fixed;
}

td,
th {
    border-bottom: 1px solid rgb(227 216 135 / 45%);
    margin: 1px 0;
    text-align: right;
    padding: 12px 10px 9px 0;
    table-layout: fixed;
    word-wrap: break-word;
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

th {
    text-align: center;
    background-color: var(--backgroundbutton);
    padding: 12px 0px 9px 0px;
}


tr:nth-child(even) {
    background-color: rgb(254 250 220 / 54%);
    text-align: center;
}


.key {
    font-weight: 600;
}

#resetInputNumber {
    position: absolute;
    width: 30px;
    right: 30px;
    cursor: pointer;
    opacity: 0.6;
    display: none;
}

#reternWelcom {
    width: 50px;
    position: fixed;
    top: 15px;
    right: 24px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    box-sizing: border-box;
    padding: 5px;
}

.scooll{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 17px;
    right: 10px;
    background: white;
    border-radius: 50%;
    display: none;
}


@media only screen and (max-width:900px) {}